<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product In Women</title>
    <link rel="stylesheet" href="css/newproduct.css">
</head>
<body>
    
    <div class="men">
        <span class="messs">
                        {{#if message}}
                            <p class="message" style="color: green;">{{message}}</p>
                        {{/if}}
        </span>         
         <button class="btn"> <a href="/admin/home">Home</a></button>       
        <form action="" method="post">
           


           
           <input type="url" name="url" id="url" required placeholder="Enter image URL"> <br><br>

           
            
           
            <input type="text" name="category"id="cat" required placeholder="Enter Category"><br><br>

            
            <input type="text" name="description" id="desc" required placeholder="Enter Description"><br><br>

            
            <input type="number" name="cprice" id="cp"required placeholder="Enter price after discount"><br><br>

            
            <input type="number" name="aprice" id="ap" required placeholder="Enter MRP"><br><br>
            <input type="submit" value="submit">
        </form>
        
    </div>
    
     
</body>
</html>