body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #89a4ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

.btn,
.btnr {
  border: none;
  color: rgb(238, 238, 232);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;   
  margin: 4px; 
  cursor: pointer;
  border-radius: 5px;
}

.buy-button {
  background-color: #3fdf1b;
  color: #fff; 
}


.btnr {
  background-color: #2e6be6;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

nav .logo h1 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

.navbar-custom {
  background-color: #067ef6;
  box-shadow: 0px 2px 2px 2px rgba(18, 166, 210, 0.792);
  
}

.navbar-custom .navbar-brand {
  color: #fff;
  font-weight: bold;
}

.navbar-custom .navbar-brand:hover {
  color: #fff;
}

.navbar-custom .navbar-nav .nav-link {
  color: #fff;
  transition: color 0.3s ease;
}

.navbar-custom .navbar-nav .nav-link:hover {
  background-color: #20b0f3;
  color: #fff;
  border-radius: 5px;
}

.navbar-custom .navbar-toggler-icon {
  background-color: #fff;
}

.navbar-custom .navbar-toggler {
  border-color: #fff;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: #1a4471;
  color: #fff;
}

.section1 {
  padding: 20px;
  background-color: #7ca5f5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #fff;
}

.section1  h3 {
  font-size: 1.3rem;
}

.products {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.pro-container {
  display: inline-block;
  width: 23%;
  margin: 15px 10px;
  height: 50vh;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: rgb(237, 228, 228);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pro-container:hover {
  background-color: #c9c5c5;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}
.sub {
  font-family: 'Arial', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color:rgb(1, 1, 1);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.pro_img {
  width: 100%;
  height: 60%;
  border-radius: 20px;
}

.buy {
  text-decoration: none;
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-between;
  
}

@media only screen and (max-width: 768px) {


  .pro-container {
    width: 46%;
    height: 50vh;
  }
}
@media only screen and (max-width: 580px) {

  .sub{
    font-size: 2.3rem;
  }
}



@media only screen and (max-width: 480px) {
  .sub{
    font-size: 1.8rem;
  }
  .pro-container {
    width: 80%;
    height: 60vh;
  }
}
