
body {
    font-family: Arial, sans-serif;
    background-color: #18347c;
    margin: 0;
    padding: 0;
}


.men {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color:  #7089c9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease;
}


.message {
    color: green;
}


.btn {
    background-color: #007bff;
    
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #6be10a;
    
}
a{
    text-decoration: none;
    color: #fff;
}


form {
    margin-top: 20px;
}


input[type="url"],
input[type="text"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .men {
        max-width: 200px;
        margin: 30px auto;
        padding: 15px;
    }
}


@media (max-width: 1000px) {
    .men {
        max-width: 500px;
    }
}