* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body{
  background-image: url('/images/register.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

.form {
  width: 90%;
  max-width: 400px;
  background-color: rgba(60, 53, 53, 0.194);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.5s ease forwards;
}
.form:hover {
   background-color: rgba(60, 53, 53, 0.835);
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.userlogin {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.message {
  color: green;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: royalblue;
  color: #fff;
  width: 30%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.adminbtn {
  display: flex;
  background-color: #04eb32;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 20vh;
  height: 6vh;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;


}


.adminbtn:hover {
background-color: #f62828;  
}

.button-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .form {
    width: 90%;
    max-width: none;
  }
}
